.header-left
{
  float: left;
  padding: 10px 60px;
  color: #ED7000;
  font-size: 30px;
}


/*.contents-top-form
{
  height: 600px;
  width: 200px;
  float: left;
  padding: 30px;
  clear: left;
}*/

.contents-top-item
{
  height: 600px;
  width: 200px;
  float: left;
  padding: 30px;
  clear: left;
}